@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

html {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.15;
}

body {
    background-image: url("image/background.jpg");
    background-position: center;
}

.page{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    gap: 1rem;
}

.option{
    background-color: white;
    padding: 1.5rem;
    width: 517px;
}

.title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.money-title{
    color: gray;
    font-weight: 300;
    font-size: 1.2rem;
}

.money {
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.per-month{
    color: gray;
    font-size: 0.75rem;
}

.benefits {
    margin: 15px;
}

i {
    margin-right: 8px;
}

.button{
    padding: 10px 25px;
    background-color: black;
    color: white;
}





