body {
    background-color: #f9f7cf;
    width: 480px;

}

header {
    background-color: #f2dcbb;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 15px;
}

footer {
    background-color: #f2dcbb;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 15px;
}