header h1 {
    font-size: 28px;
}

header .paragraph-italic {
    font-style: italic;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

.size24{
    font-size: 24px;
}

section {
    margin-left: 20px;
}